<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>НГТУ, ФБ, Коты</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='lab1.css')}}>
</head>
<body>
  <div style="width: 300px; margin: 12px;">
      <img style="width: 100%;" src={{url_for('static', filename='cat.jpg')}} alt="">
  </div>
    <div style="width: 300px; margin: 12px;">
      Кошки - загадочные животные, которые многие века живут рядом с человеком. Кажется, что мы знаем о них все, однако нам до сих пор есть чему удивляться.
  </div>
    <div style="width: 300px; margin: 12px;">
    Самыми маленькими кошками считаются представители индийской рыжей пятнистой породы, живущие в Шри-Ланке. Их вес не превосходит полутора килограмм, а размер составляет около 15 сантиметров.
    </div>
  <div style="width: 300px; margin: 12px;">
    С точки зрения научной систематики, домашняя кошка — млекопитающее семейства кошачьих отряда хищных. Одни исследователи рассматривают домашнюю кошку как подвид дикой кошки, другие — как отдельный биологический вид.
  </div>
    <div style="width: 300px; margin: 12px;">
    Являясь одиночным охотником на грызунов и других мелких животных, кошка — социальное животное, использующее для общения широкий диапазон звуковых сигналов, а также феромоны и движения тела.  </div>
    </body>
</html>