<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Телесова Сынару Эжеровна, Лабораторная 1</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='lab1.css')}}>

</head>
<body>
    <header><a href="/menu">< Menu </a> НГТУ, ФБ, Лабораторная работа 1</header>
    <div style="width: 400px; margin-bottom: 12px;">
        Flask — фреймворк для создания веб-приложений на языке
        программирования Python, использующий набор инструментов
        Werkzeug, а также шаблонизатор Jinja2. Относится к категории так
        называемых микрофреймворков — минималистичных каркасов
        веб-приложений, сознательно предоставляющих лишь самые базовые возможности.
    </div>
    <h1>Реализованные роуты:</h1>
    <div style="margin: 9px;"><a href="/lab1/oak">- Страничка с деревом</a></div>
    <div style="margin: 9px;"><a href="/lab1/student">- Страничка со студентом</a></div>
    <div style="margin: 9px;"><a href="/lab1/python">- Страничка с питоном</a></div>
    <div style="margin: 9px;"><a href="/lab1/mycat">- Страничка с котом</a></div>
    <footer>ⓒ Сынару Эжеровна, ФБИ-23, 3 курс, 2024</footer>
</body>
</html>