{% extends "base.html"%}

{# Номер лаб раб: #}
{%block lab%}Лабораторная работа 4{%endblock%}

{# Контент: #}
{%block main%}
<div><a href="/">< К Списку работ</a></div>
<h1>Тема лабораторной - Формы (POST). Список сделанных страниц:</h1>

<div style="margin: 9px;">
    <a href="/lab4/posttest">POST. Деление</a>
</div>
<div style="margin: 9px;">
    <a href="/lab4/sumStart">POST. Сумма</a>
</div>
<div style="margin: 9px;">
    <a href="/lab4/multStart">POST. Умножение</a>
</div>
<div style="margin: 9px;">
    <a href="/lab4/subtrStart">POST. Вычитание</a>
</div>
<div style="margin: 9px;">
    <a href="/lab4/powStart">POST. Возведение в степень</a>
</div>
<div style="margin: 9px;">
    <a href="/lab4/tree">Дерево рубить</a>
</div>
<div style="margin: 9px;">
    <a href="/lab4/login">Авторизация</a>
</div>
<div style="margin: 9px;">
    <a href="/lab4/fridge">Холодильник</a>
</div>


{%endblock%}