{% extends "base.html"%}

{# Номер лаб раб: #}
{%block lab%}Лабораторная работа 7{%endblock%}

{% block script %}
<script src="{{url_for('static', filename='./lab7.js')}}"></script>
<style>
    .modal {
    display: none;
    padding: 24px;
    position: fixed;
    top: 200px;
    left: 500px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    }
</style>
{% endblock %}



{# Контент: #}
{%block main%}
<div><a href="/">< К Списку работ</a></div>
<h1>Тема лабораторной - API REST. Список сделанных страниц:</h1>
<div>
    <h2>Список фильмов</h2>
    <table>
        <tr>
            <th>Название</th>
            <th>Название РУС</th>
            <th>Год</th>
            <th>Описание</th>
            <th>Действие</th>
        </tr>
        <tbody id="film-list"></tbody>
    </table>
    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название на русском:
            <input type="text" id="title-ru">
        </label><br>
        <label>
            Название на англ:
            <input type="text" id="title">
        </label><br>
        <label>
            Год выпуска:
            <input type="number" id="year">
        </label><br>
        <label>
            Описание:
            <textarea id="description"></textarea>
        </label><br>
        <button onclick="sendFilm()">Добавить</button>
        <button onclick="cancel()">Отмена</button>

    </div>


    <script>
        window.onload = function() {
            fillFilmList();
        };
    </script>
    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>
</div>


{%endblock%}