{% extends "base.html"%}

{# Номер лаб раб: #}
{%block lab%}НГТУ, ФБ, WEB-программирование, часть 2. Список лабораторных{%endblock%}

{# Контент: #}
{%block main%}
<div>
    <div style="margin: 15px;">
        <a href="/lab1">Лабораторная работа 1</a>
    </div>
    <div style="margin: 15px;">
        <a href="/lab2">Лабораторная работа 2</a>
    </div>
    <div style="margin: 15px;">
        <a href="/lab3">Лабораторная работа 3</a>
    </div>
    <div style="margin: 15px;">
        <a href="/lab4/">Лабораторная работа 4</a>
    </div>
    <div style="margin: 15px;">
        <a href="/lab5/">Лабораторная работа 5</a>
    </div>
    <div style="margin: 15px;">
        <a href="/lab6/">Лабораторная работа 6</a>
    </div>
    <div style="margin: 15px;">
        <a href="/lab7/">Лабораторная работа 7</a>
    </div>
</div>

{%endblock%}
