<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>НГТУ, ФБ, Питон</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='lab1.css')}}>
</head>
<body>
  <div style="width: 200px; margin: 12px;">
      <img style="width: 100%;" src={{url_for('static', filename='python.jpg')}} alt="">
  </div>
    <div style="width: 200px; margin: 12px;">
      Python — это высокоуровневый язык программирования, отличающийся эффективностью, простотой и универсальностью использования
  </div>
    <div style="width: 200px; margin: 12px;">
    Он широко применяется в разработке веб-приложений и прикладного программного обеспечения, а также в машинном обучении и обработке больших данных.
    </div>
  <div style="width: 200px; margin: 12px;">
    За счет простого и интуитивно понятного синтаксиса является одним из распространенных языков для обучения программированию.
  </div>
</body>
</html>