{% extends "base.html"%}

{# Номер лаб раб: #}
{%block lab%}Settings{%endblock%}

{# Контент: #}
{%block main%}
<div><a href="/lab3">< К лабораторной 3</a></div>

<h1>Cookies</h1>
<form>
  <div>
    <label for="color">Выберите цвет текста</label>
    <input type="color" id="color" name="color" value="{{color or ''}}">
  </div>
  <div>
    <label for="color">Выберите размер текста</label>
    <input type="number" id="font-size" name="font-size" value="{{font_size or ''}}">
  </div>
  <div>
    <label for="color">Выберите цвет фона</label>
    <input type="color" id="background-color" name="background-color" value="{{bg_color or ''}}">
  </div>
  <div>
    <button type="submit">OK</button>
  </div>
</form>

{%endblock%}